:root {
  --gray-background: #f8f9fa;

  --white: #ffff;

  --black: #000;

  --primary: #ff5964;

  --secondary: #38618c;

  --clay-gray: #eff5fb;
  --light-gray: #abb5be;
  --dark-gray: #6C757D;

  --danger: #dc3545;
  --success: #28a745;
}
