<div class="d-flex">
  <div class="d-flex flex-column">
    <app-sidebar
      class="d-block flex-grow-1"
      [isOpen]="isSideOpen"
    ></app-sidebar>
  </div>
  <div class="w-100">
    <div class="wrap-nav">
      <app-navbar (openSide)="toggleSidebar($event)" class=""></app-navbar>
    </div>
    <div class="wrap-page">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="toast-container">
    <ngb-toast
      *ngFor="let toast of toasts$ | async"
      [header]="toast.header"
      [autohide]="true"
      [animation]="true"
      [delay]="toast.delay || 3000"
      (hide)="closeToast(toast)"
      [ngClass]="{
        'toast-success': toast.success,
        'toast-error': !toast.success
      }"
    >
      {{ toast.body }}
    </ngb-toast>
  </div>
</div>
