<div class="d-flex h-100vh">
  <div>
    <app-sidebar [isOpen]="isSideOpen"></app-sidebar>
  </div>
  <div class="w-100 h-100vh">
    <div style="height: 10vh">
      <app-navbar (openSide)="toggleSidebar($event)"></app-navbar>
    </div>
    <div style="height: 90vh">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="toast-container">
    <ngb-toast
      *ngFor="let toast of toasts$ | async"
      [header]="toast.header"
      [autohide]="true"
      [animation]="true"
      [delay]="toast.delay || 3000"
      (hide)="closeToast(toast)"
      [ngClass]="{'toast-success': toast.success, 'toast-error': !toast.success}"
    >
      {{ toast.body }}
    </ngb-toast>
  </div>
</div>
