<div class="fullpage">
  <div class="chart-card mb-5 mt-5">
    <div class="chart-card_title">
      <p>Grafico Linee</p>
    </div>
    <div #lineC></div>
  </div>

  <div class="chart-card mb-5 mt-5">
    <div class="chart-card_title">
      <p>Grafico Torta</p>
    </div>
    <div #pieC></div>
  </div>

  <div class="chart-card mb-5">
    <div class="chart-card_title">
      <p>Grafico Barre</p>
    </div>
    <div #barC></div>
  </div>

  <div class="chart-card mb-5">
    <div class="chart-card_title">
      <p>Grafico Linee</p>
    </div>
    <div #lineTwoC></div>
  </div>
</div>
