<div class="fullpage">
  <div class="chart-container">
    <div class="chart-card mt-5">
      <div class="chart-card_title">
        <p>Entrate totali mensili</p>
      </div>
      <div #barC></div>
    </div>

    <div class="chart-card mt-5">
      <div class="chart-card_title">
        <p>Grafico Linee</p>
      </div>
      <div #lineC></div>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart-card mt-5">
      <div class="chart-card_title">
        <p>Profitto settori</p>
      </div>
      <div #pieC></div>
    </div>

    <div class="chart-card mt-5">
      <div class="chart-card_title">
        <p>Grafico Linee</p>
      </div>
      <div #lineTwoC></div>
    </div>
  </div>
</div>
