.fullpage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .chart-container {
    width: 40%;
  }
}

.chart-card {
  height: 35rem;
  background-color: var(--white);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    font-size: 26px;
    font-weight: 600;
    width: 90%;
  }
}
