<div class="fullpage">
  <div class="container">
  <div class="row title-row">
    {{mode === 'NEW' ? 'Nuovo' : mode === 'EDIT' ? 'Modifica' : 'Dettaglio'}} Cliente
  </div>
  <div class="row form-row">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-6">
          <app-form-item label="Nome">
            <input type="text" class="form-control" id="name" formControlName="name" />
          </app-form-item>
        </div>
        <div class="col-md-6">
          <app-form-item label="Cognome">
            <input type="text" class="form-control" id="surname" formControlName="surname" />
          </app-form-item>
        </div>
      </div>
      <div class="row field-row">
        <div class="col-md-6">
          <app-form-item label="Email">
            <input type="email" class="form-control" id="email" formControlName="email" />
          </app-form-item>
        </div>
        <div class="col-md-6">
          <app-form-item label="Codice Fiscale">
            <input type="text" class="form-control" id="cf" formControlName="cf" />
          </app-form-item>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="Telefono">
              <input type="text" class="form-control" id="phone" formControlName="phone" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Nome Genitore">
              <input type="text" class="form-control" id="parentName" formControlName="parentName" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="Cognome Genitore">
              <input type="text" class="form-control" id="parentSurname" formControlName="parentSurname" />
            </app-form-item>
          </div>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="CF Genitore">
              <input type="text" class="form-control" id="parentCf" formControlName="parentCf" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Indirizzo">
              <input type="text" class="form-control" id="address" formControlName="address" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="CAP">
              <input type="text" class="form-control" id="cap" formControlName="cap" />
            </app-form-item>
          </div>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="Città">
              <input type="text" class="form-control" id="city" formControlName="city" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Nato">
              <input type="date" class="form-control" id="born" formControlName="born" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="Nato a">
              <input type="text" class="form-control" id="bornPlace" formControlName="bornPlace" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Numero Tessera">
              <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="Anno di rilascio Tessera">
              <input type="text" class="form-control" id="cardYear" formControlName="cardYear" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div>
            <app-form-item label="Attivo">
              <input class="form-check-input form-checkbox" type="checkbox" id="isActive" formControlName="isActive">
            </app-form-item>
          </div>
          <div>
            <app-form-item label="Abbonamento">
              <input type="checkbox" class="form-check-input form-checkbox" id="payed" formControlName="payed" />
            </app-form-item>
          </div>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="Note">
              <input type="text" class="form-control" id="note" formControlName="note" />
            </app-form-item>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="btn-row">
    <button type="button" class="btn button primary" (click)="onClickBack()">ANNULLA</button>
    <button class="btn button secondary" *ngIf="(mode$ | async) !== 'DETAIL'; else modifyButton" type="submit" (click)="saveModifies()" [disabled]="formGroup.invalid">SALVA</button>
    <ng-template #modifyButton>
      <button class="btn button secondary" (click)="enableModifies()">ABILITA MODIFICHE</button>
    </ng-template>
  </div>
</div>
</div>
