.title-row {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 20px;
}

.section-row {
  margin-top:50px;
}

.btn-row {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
