<div class="fullpage">
  <div class="container">
  <div class="row title-row">
    {{mode === 'NEW' ? 'Nuovo' : mode === 'EDIT' ? 'Modifica' : 'Dettaglio'}} Cliente
  </div>
  <div class="row form-row">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-6">
          <app-form-item label="Nome">
            <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="(formGroup.get('name')?.touched ||
            formGroup.get('name')?.dirty) &&
            formGroup.get('name')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((formGroup.get('name')?.touched ||
             formGroup.get('name')?.dirty) &&
               !formGroup.get('name')?.invalid)
              ? 'is-valid'
              : ''"
              />
              <div class="invalid-feedback">
                {{
                  formGroup.get("name")?.hasError("required")? "Name is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
        <div class="col-md-6">
          <app-form-item label="Cognome">
            <input type="text" class="form-control" id="surname" formControlName="surname"
            [ngClass]="(formGroup.get('surname')?.touched ||
            formGroup.get('surname')?.dirty) &&
            formGroup.get('surname')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((formGroup.get('surname')?.touched ||
             formGroup.get('surname')?.dirty) &&
               !formGroup.get('surname')?.invalid)
              ? 'is-valid'
              : ''"
              />
              <div class="invalid-feedback">
                {{
                  formGroup.get("surname")?.hasError("required")? "Surname is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
      </div>
      <div class="row field-row">
        <div class="col-md-6">
          <app-form-item label="Email">
            <input type="email" class="form-control" id="email" formControlName="email"
            [ngClass]="(formGroup.get('email')?.touched ||
            formGroup.get('email')?.dirty) &&
            formGroup.get('email')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((formGroup.get('email')?.touched ||
             formGroup.get('email')?.dirty) &&
               !formGroup.get('email')?.invalid)
              ? 'is-valid'
              : ''"
              />
              <div class="invalid-feedback">
                {{
                  formGroup.get("email")?.hasError("required")? "Email is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
        <div class="col-md-6">
          <app-form-item label="Codice Fiscale">
            <input type="text" class="form-control" id="cf" formControlName="cf"
            [ngClass]="(formGroup.get('cf')?.touched ||
            formGroup.get('cf')?.dirty) &&
            formGroup.get('cf')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((formGroup.get('cf')?.touched ||
             formGroup.get('cf')?.dirty) &&
               !formGroup.get('cf')?.invalid)
              ? 'is-valid'
              : ''"
              />
              <div class="invalid-feedback">
                {{
                  formGroup.get("cf")?.hasError("required")? "CF is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="Telefono">
              <input type="text" class="form-control" id="phone" formControlName="phone"
              [ngClass]="(formGroup.get('phone')?.touched ||
              formGroup.get('phone')?.dirty) &&
              formGroup.get('phone')?.hasError('required')
                ? 'is-invalid'
                : '' ||
               ((formGroup.get('phone')?.touched ||
               formGroup.get('phone')?.dirty) &&
                 !formGroup.get('phone')?.invalid)
                ? 'is-valid'
                : ''"
                />
                <div class="invalid-feedback">
                  {{
                    formGroup.get("phone")?.hasError("required")? "Phone is required" : ""
                  }}
                </div>
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Nome Genitore">
              <input type="text" class="form-control" id="parentName" formControlName="parentName" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="Cognome Genitore">
              <input type="text" class="form-control" id="parentSurname" formControlName="parentSurname" />
            </app-form-item>
          </div>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="CF Genitore">
              <input type="text" class="form-control" id="parentCf" formControlName="parentCf" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Indirizzo">
              <input type="text" class="form-control" id="address" formControlName="address"
              [ngClass]="(formGroup.get('phone')?.touched ||
              formGroup.get('phone')?.dirty) &&
              formGroup.get('phone')?.hasError('required')
                ? 'is-invalid'
                : '' ||
               ((formGroup.get('phone')?.touched ||
               formGroup.get('phone')?.dirty) &&
                 !formGroup.get('phone')?.invalid)
                ? 'is-valid'
                : ''"
                />
                <div class="invalid-feedback">
                  {{
                    formGroup.get("phone")?.hasError("required")? "Phone is required" : ""
                  }}
                </div>
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="CAP">
              <input type="text" class="form-control" id="cap" formControlName="cap"
              [ngClass]="(formGroup.get('cap')?.touched ||
              formGroup.get('cap')?.dirty) &&
              formGroup.get('cap')?.hasError('required')
                ? 'is-invalid'
                : '' ||
               ((formGroup.get('cap')?.touched ||
               formGroup.get('cap')?.dirty) &&
                 !formGroup.get('cap')?.invalid)
                ? 'is-valid'
                : ''"
                />
                <div class="invalid-feedback">
                  {{
                    formGroup.get("cap")?.hasError("required")? "Cap is required" : ""
                  }}
                </div>
            </app-form-item>
          </div>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="Città">
              <input type="text" class="form-control" id="city" formControlName="city" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Nato">
              <input type="date" class="form-control" id="born" formControlName="born" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="Nato a">
              <input type="text" class="form-control" id="bornPlace" formControlName="bornPlace" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <app-form-item label="Numero Tessera">
              <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" />
            </app-form-item>
          </div>
          <div class="col-md-6">
            <app-form-item label="Anno di rilascio Tessera">
              <input type="text" class="form-control" id="cardYear" formControlName="cardYear" />
            </app-form-item>
          </div>
        </div>
        <div class="row section-row">
          <div>
            <app-form-item label="Attivo">
              <input class="form-check-input form-checkbox" type="checkbox" id="isActive" formControlName="isActive">
            </app-form-item>
          </div>
          <div>
            <app-form-item label="Abbonamento">
              <input type="checkbox" class="form-check-input form-checkbox" id="payed" formControlName="payed" />
            </app-form-item>
          </div>
        </div>
        <div class="row field-row">
          <div class="col-md-6">
            <app-form-item label="Note">
              <input type="text" class="form-control" id="note" formControlName="note" />
            </app-form-item>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="btn-row">
    <button type="button" class="btn button primary" (click)="onClickBack()">ANNULLA</button>
    <button class="btn button secondary" *ngIf="(mode$ | async) !== 'DETAIL'; else modifyButton" type="submit" (click)="saveModifies()" [disabled]="formGroup.invalid">SALVA</button>
    <ng-template #modifyButton>
      <button class="btn button secondary" (click)="enableModifies()">ABILITA MODIFICHE</button>
    </ng-template>
  </div>
</div>
</div>
