.title-row {
  font-size: 28;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 20px;
}

.section-row {
  margin-top: 20px;
}

.btn-row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
