<div class="container">
  <div class="row title-row">
    {{mode === 'NEW' ? 'Nuovo' : mode === 'EDIT' ? 'Modifica' : 'Dettaglio'}} Cliente
  </div>
  <div class="row form-row">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-6">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="col-md-6">
          <label for="surname" class="form-label">Cognome</label>
          <input type="text" class="form-control" id="surname" formControlName="surname">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="col-md-6">
          <label for="cf" class="form-label">Codice Fiscale</label>
          <input type="text" class="form-control" id="cf" formControlName="cf">
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="phone" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <label for="parentName" class="form-label">Nome Genitore</label>
            <input type="text" class="form-control" id="parentName" formControlName="parentName">
          </div>
          <div class="col-md-6">
            <label for="parentSurname" class="form-label">Cognome Genitore</label>
            <input type="text" class="form-control" id="parentSurname" formControlName="parentSurname">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="parentCf" class="form-label">CF Genitore</label>
            <input type="text" class="form-control" id="parentCf" formControlName="parentCf">
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <label for="address" class="form-label">Indirizzo</label>
            <input type="text" class="form-control" id="address" formControlName="address">
          </div>
          <div class="col-md-6">
            <label for="cap" class="form-label">CAP</label>
            <input type="text" class="form-control" id="cap" formControlName="cap">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="city" class="form-label">Città</label>
            <input type="text" class="form-control" id="city" formControlName="city">
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <label for="born" class="form-label">Nato</label>
            <input type="date" class="form-control" id="born" formControlName="born" min="1920-01-01" max="2022-03-29">
          </div>
          <div class="col-md-6">
            <label for="bornPlace" class="form-label">Nato a</label>
            <input type="text" class="form-control" id="bornPlace" formControlName="bornPlace">
          </div>
        </div>
        <div class="row section-row">
          <div class="col-md-6">
            <label for="cardNumber" class="form-label">Numero Tessera</label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber">
          </div>
          <div class="col-md-6">
            <label for="cardYear" class="form-label">Anno di rilascio Tessera</label>
            <input type="text" class="form-control" id="cardYear" formControlName="cardYear">
          </div>
        </div>
        <div class="row section-row">
          <div>
            <input class="form-check-input" type="checkbox" id="active" formControlName="active">
            <label for="active" class="form-label">Attivo</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="payed" formControlName="payed">
            <label for="payed" class="form-label">Abbonamento</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="note" class="form-label">Note</label>
            <input type="text" class="form-control" id="note" formControlName="note">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row btn-row">
    <button type="button" class="btn button primary">ANNULLA</button>
    <button class="btn button secondary" *ngIf="(mode$ | async) !== 'DETAIL'; else modifyButton" type="submit" (click)="saveModifies()">SALVA</button>
    <ng-template #modifyButton>
      <button class="btn button secondary" (click)="enableModifies()">ABILITA MODIFICHE</button>
    </ng-template>
  </div>
</div>
