.title-row {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  //margin-left: 20px;
}

.section-row {
  margin-top:50px;
}

.btn-row {
  padding-bottom: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  width: 20%;
}

.field-row {
  margin-top: 20px;
}

.form-checkbox {
  margin-left: 5px;
}
