.input {
  outline: none;
  transition: border 100ms linear;
  color: var(--black) !important;
  box-sizing: border-box;
  height: 3rem;

  &:focus-within {
    border: solid 3px var(--light-gray);
  }
}

input.ng-touched.ng-invalid {
  border: solid 3px var(--danger) !important;
}
