<div class="container-fluid">
  <div class="form">
    <p class="form_title">Benvenuto</p>

    <!-- START FORM -->
    <div class="form_in-wrap" [formGroup]="loginForm">
      <!-- EMAIL -->
      <div class="form_in-wrap_input-container">
        <app-form-item label="Email">
          <input
            type="text"
            class="form-control input mb-3"
            placeholder="mario.rossi@email.com"
            formControlName="email"
          />
        </app-form-item>
        <div *ngIf="email.invalid && email.dirty; else hideEmail">
          <p class="form_in-wrap_input-container_err-msg">
            Inserire una Email valida
          </p>
        </div>
        <ng-template #hideEmail
          ><p class="form_in-wrap_input-container_hide">-</p></ng-template
        >
      </div>

      <!-- PASSWORD -->
      <div class="form_in-wrap_input-container">
        <app-form-item label="password">
          <input
            type="password"
            class="form-control input mb-3"
            formControlName="password"
          />
        </app-form-item>
        <div *ngIf="password.invalid && password.dirty; else hidePw">
          <p class="form_in-wrap_input-container_err-msg">Minimo 8 caratteri</p>
        </div>
        <ng-template #hidePw
          ><p class="form_in-wrap_input-container_hide">-</p></ng-template
        >
      </div>

      <!-- CHECKBOX -->
      <!---->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="remember"
        />
        <label class="form-check-label" for="flexCheckDefault">
          <p>Ricordami!</p>
        </label>
      </div>
    </div>
    <!-- END FORM -->

    <!-- BUTTON -->
    <div class="form_btn-container">
      <button
        type="button"
        class="btn button primary"
        [disabled]="!loginForm.valid"
        (click)="onLogin()"
      >
        Login
      </button>
    </div>
  </div>
</div>
