.page {
  display: flex;
  justify-content: center;
}

.title-row {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.filters-row {
  height: 20%;
  margin-bottom: 50px;
}

.buttons-col {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  width: 30%;
}

new-area-btn {
  height: 80%;
}

.search{
  margin-right: 3px;
}


