<div class="fullpage">
<div class="container w-100 page-container">
  <div class="body-row">

    <div class="row title-row ">
      {{
        mode === "NEW" ? "Nuovo" : mode === "EDIT" ? "Modifica" : "Dettaglio"
      }}
      Settori
    </div>
    <div class="row form-row">
      <form [formGroup]="formGroup">
        <div class="input-row input-field">
          <app-form-item label="Nome">
            <input type="text" class="form-control" id="name" formControlName="name" />
          </app-form-item>
        </div>
        <div class="input-row">
          <app-form-item label="Descrizione" class="input-field">
            <textarea
              type="text"
              rows="10"
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </app-form-item>
        </div>
      </form>
    </div>
  </div>
  <div class="row btn-row">
    <div class="btn-wrap">
    <div class="btn-wrap_btn-container">
      <button type="button" class="btn button primary" (click)="goBack()">
        ANNULLA
      </button>
    </div>
    <div class="btn-wrap_btn-container">
      <button
        class="btn button secondary"
        *ngIf="(mode$ | async) !== 'DETAIL'; else modifyButton"
        type="submit"
        (click)="saveModifies()"
        [disabled]="formGroup.invalid"
      >
        SALVA
      </button>
      <ng-template #modifyButton>
        <button class="btn button secondary" (click)="enableModifies()">
          ABILITA MODIFICHE
        </button>
      </ng-template>
    </div>
    </div>
  </div>
</div>
</div>
