.size-selection-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.drop-button {
  background-color: var(--white);
  border: solid 1px var(--light-gray) !important;
}
