<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark wrap-nav"
  [class.sideClosed]="isOpen"
>
  <a routerLink="/" class="d-flex justify-content-center">
    <img
      *ngIf="!isOpen"
      [class.sideClosed_img]="false"
      class="logo"
      src="../../../../assets/icons/logo.png"
      (click)="onClickLogo()"
    />
    <img
      *ngIf="isOpen"
      [class.sideClosed_img]="true"
      class="logo"
      src="../../../../assets/icons/logo-small.png"
      (click)="onClickLogo()"
    />
  </a>
  <hr />
  <ul
    class="nav nav-pills flex-column mb-auto"
    [class.sideClosed_list]="isOpen"
  >
    <li
      class="side-item"
      *ngFor="let item of menuItems"
      [class.sideClosed_list_item]="isOpen"
    >
      <a
        *ngIf="!isOpen"
        (click)="refreshLink(item.linkUrl)"
        class="nav-link text-white label-link"
        [class.active]="pathName === item.linkUrl"
      >
        <i class="bi bi-{{ item.linkIcon }} side-icon"></i>
        {{ item.linkName }}
      </a>
      <a
        *ngIf="isOpen"
        (click)="refreshLink(item.linkUrl)"
        class="nav-link text-white label-link"
        [class.active]="pathName === item.linkUrl"
      >
        <i
          class="bi bi-{{ item.linkIcon }} side-icon"
          [class.sideClosed_list_item_icon]="isOpen"
        ></i>
      </a>
    </li>
  </ul>
</div>
