.wrap-nav {
  height: 100vh;
}

.logo {
  width: 200px;
}

.side-item {
  margin-bottom: 5%;
}

.label-link:hover {
  background-color: var(--gray-background);
  color: var(--black) !important;

  i {
    color: var(--black) !important;
  }
}

.side-icon {
  color: var(--white);
  width: 16px;
  height: 16px;
  //margin-right: 0.5rem;
}

.active {
  background-color: var(--gray-background) !important;
  color: var(--black) !important;

  i {
    color: var(--black) !important;
  }
}

.sideClosed {
  width: 4.5rem;

  &_img {
    height: 42px;
  }

  &_list {
    display: flex;
    align-content: center;

    &_item {
      margin-bottom: 0.5rem;

      &_icon {
        font-size: 1.5rem;
      }
    }
  }
}
