<div class="fullpage">
  <div class="container">
    <div class="title mt-4">
      <p>Nuovo Pagamento</p>
    </div>
    <div class="row form-row" [formGroup]="paymentForm">
      <div class="row input-row">
        <!-- SELECT CLEINT -->
        <div class="col-md-5">
          <app-form-item label="Cliente">
            <input
              id="client-input"
              type="text"
              class="form-control input"
              formControlName="client"
              [ngbTypeahead]="searchClient"
              [inputFormatter]="formatterClient"
              [resultFormatter]="formatterClient"
              [editable]="false"
              [ngClass]="(paymentForm.get('client')?.touched ||
              paymentForm.get('client')?.dirty) &&
              paymentForm.get('client')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((paymentForm.get('client')?.touched ||
             paymentForm.get('client')?.dirty) &&
               !paymentForm.get('client')?.invalid)
              ? 'is-valid'
              : ''" />


              <div class="invalid-feedback">
                {{
                  paymentForm.get("client")?.hasError("required")? "Client is required" : ""
                }}
              </div>

          </app-form-item>
        </div>

        <!-- SELECT AREA -->
        <div class="col-md-5">
          <app-form-item label="Settore">
            <input
              id="area-input"
              type="text"
              class="form-control input"
              formControlName="area"
              [ngbTypeahead]="searchArea"
              [inputFormatter]="formatterArea"
              [resultFormatter]="formatterArea"
              [editable]="false"
              [ngClass]="(paymentForm.get('area')?.touched ||
              paymentForm.get('area')?.dirty) &&
              paymentForm.get('area')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((paymentForm.get('area')?.touched ||
             paymentForm.get('area')?.dirty) &&
               !paymentForm.get('area')?.invalid)
              ? 'is-valid'
              : ''" />
              <div class="invalid-feedback">
                {{
                  paymentForm.get("area")?.hasError("required")? "Area is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
      </div>

      <div class="row input-row">
        <!-- SOCIETY -->
        <div class="col-md-5">
          <app-form-item label="Società">
            <input
              id="area-input"
              type="text"
              class="form-control input"
              formControlName="society"
              [ngbTypeahead]="searchSociety"
              [inputFormatter]="formatterSociety"
              [resultFormatter]="formatterSociety"
              [editable]="false"
              [ngClass]="(paymentForm.get('society')?.touched ||
              paymentForm.get('society')?.dirty) &&
              paymentForm.get('society')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((paymentForm.get('society')?.touched ||
             paymentForm.get('society')?.dirty) &&
               !paymentForm.get('society')?.invalid)
              ? 'is-valid'
              : ''" />

              <div class="invalid-feedback">
                {{
                  paymentForm.get("society")?.hasError("required")? "Area is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
        <!-- PRICE -->
        <div class="col-md-5 me-5">
          <app-form-item label="Importo">
            <input
              type="number"
              class="form-control input"
              formControlName="price"
              [ngClass]="(paymentForm.get('price')?.touched ||
              paymentForm.get('price')?.dirty) &&
              paymentForm.get('price')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((paymentForm.get('price')?.touched ||
             paymentForm.get('price')?.dirty) &&
               !paymentForm.get('price')?.invalid)
              ? 'is-valid'
              : ''" />

              <div class="invalid-feedback">
                {{
                  paymentForm.get("price")?.hasError("required")? "Price is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
      </div>

      <div class="row input-row">
        <!-- ANNUAL PRICE -->
        <div class="col-md-5">
          <app-form-item label="Quota Annuale">
            <input
              type="number"
              class="form-control input"
              formControlName="annualPrice"
              [ngClass]="(paymentForm.get('annualPrice')?.touched ||
              paymentForm.get('annualPrice')?.dirty) &&
              paymentForm.get('annualPrice')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((paymentForm.get('annualPrice')?.touched ||
             paymentForm.get('annualPrice')?.dirty) &&
               !paymentForm.get('annualPrice')?.invalid)
              ? 'is-valid'
              : ''" />

              <div class="invalid-feedback">
                {{
                  paymentForm.get("annualPrice")?.hasError("required")? "AnnualPrice is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
        <!-- DATE -->
        <div class="col-md-5">
          <app-form-item label="Data Pagamento">
            <input
              type="date"
              class="form-control input"
              formControlName="date"
              [ngClass]="(paymentForm.get('date')?.touched ||
              paymentForm.get('date')?.dirty) &&
              paymentForm.get('date')?.hasError('required')
              ? 'is-invalid'
              : '' ||
             ((paymentForm.get('date')?.touched ||
             paymentForm.get('date')?.dirty) &&
               !paymentForm.get('date')?.invalid)
              ? 'is-valid'
              : ''" />

              <div class="invalid-feedback">
                {{
                  paymentForm.get("date")?.hasError("required")? "date is required" : ""
                }}
              </div>
          </app-form-item>
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="btn-wrap">
      <div class="btn-wrap_btn-container">
        <button
          type="button"
          class="btn button secondary"
          routerLink="/section/payment"
        >
          Annulla
        </button>
      </div>

      <div class="btn-wrap_btn-container">
        <button
          type="button"
          class="btn button primary"
          (click)="onSave()"
          [disabled]="paymentForm.invalid"
        >
          Salva
        </button>
      </div>
    </div>
  </div>
</div>
