<div class="fullpage">
  <div class="container">
    <div class="title mt-4">
      <p>Nuovo Pagamento</p>
    </div>
    <div class="row form-row" [formGroup]="paymentForm">
      <div class="row input-row">
        <!-- SELECT CLEINT -->
        <div class="col-md-5 me-5">
          <app-form-item label="Cliente">
            <input
              id="client-input"
              type="text"
              class="form-control"
              formControlName="client"
              [ngbTypeahead]="searchClient"
              [inputFormatter]="formatterClient"
              [resultFormatter]="formatterClient"
              [editable]='false' />
          </app-form-item>
        </div>

        <!-- SELECT AREA -->
        <div class="col-md-5">
          <app-form-item label="Settore">
            <input
              id="area-input"
              type="text"
              class="form-control"
              formControlName="area"
              [ngbTypeahead]="searchArea"
              [inputFormatter]="formatterArea"
              [resultFormatter]="formatterArea"
              [editable]='false' />
          </app-form-item>
        </div>
      </div>

      <div class="row input-row">
        <!-- PRICE -->
        <div class="col-md-5 me-5">
          <app-form-item label="Importo">
            <input
              type="number"
              class="form-control input"
              formControlName="price"
            />
          </app-form-item>
        </div>

        <!-- ANNUAL PRICE -->
        <div class="col-md-5">
          <app-form-item label="Quota Annuale">
            <input
              type="number"
              class="form-control input"
              formControlName="annualPrice"
            />
          </app-form-item>
        </div>
      </div>

      <div class="row input-row">
        <!-- DATE -->
        <div class="col-md-5">
          <app-form-item label="Data Pagamento">
            <input
              type="date"
              class="form-control input"
              formControlName="date"
            />
          </app-form-item>
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="btn-wrap">
      <div class="btn-wrap_btn-container">
        <button
          type="button"
          class="btn button secondary"
          routerLink="/section/payment"
        >
          Annulla
        </button>
      </div>

      <div class="btn-wrap_btn-container">
        <button
          type="button"
          class="btn button primary"
          (click)="onSave()"
          [disabled]="!paymentForm.valid"
        >
          Salva
        </button>
      </div>
    </div>
  </div>
</div>
