<div class="btn-container mb-3 ms-3">
  <button type="button" class="btn button primary">Primary</button>
</div>

<div class="input-container mb-3 ms-3">
  <app-form-item label="Nome">
    <input
      type="text"
      class="form-control input"
      id="formGroupExampleInput"
      placeholder="Mario"
    />
  </app-form-item>
</div>

<!-- <div class="select-container mb-3 ms-3">
  <select class="form-select" [(ngModel)]="selectedOption">
    <option value="" selected disabled>-</option>
    <option *ngFor="let o of options">
      {{ o.name }}
    </option>
  </select>
  <button type="submit" class="btn btn-primary manage" (click)="print()">
    Submit
  </button>
</div> -->
