<div class="btn-container ms-5 mt-5">
  <button type="button" class="btn button primary" (click)="openModal()">
    Modifica
  </button>
</div>

<div class="btn-container ms-5 mt-5">
  <button
    type="button"
    class="btn button primary"
    (click)="openModalPassword()"
  >
    Cambia Pw
  </button>
</div>

<div class="input-container mt-5 ms-5">
  <app-form-item label="Nome">
    <input
      type="text"
      class="form-control input"
      id="formGroupExampleInput"
      placeholder="Mario"
    />
  </app-form-item>
</div>
