.modal-save {
  width: 10rem;
  height: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0%;

  &_close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &_title {
    font-size: 20px;
    font-weight: 600;
  }

  &_form {
    width: 70%;

    &_input {
      width: 100%;
    }
  }

  &_button {
    width: 90%;
    display: flex;
    justify-content: space-evenly;

    &_btn {
      width: 10rem;
      height: 4rem;
    }
  }
}
