<div class="container">
  <!-- ICON CLOSE -->
  <div class="container_close" (click)="onClose()">
    <button type="button" class="btn button close">X</button>
  </div>
  <p class="container_title mb-5 mt-3">Modifica la tua Password</p>

  <!-- FORM -->
  <div class="container_form" [formGroup]="changePassForm">
    <!-- OLD PASS -->
    <div class="container_form_input mb-3">
      <app-form-item label="Vecchia Password">
        <input
          type="password"
          class="form-control input"
          formControlName="oldPassword"
        />
      </app-form-item>
      <div *ngIf="oldPassword.invalid && oldPassword.dirty">
        <p class="container_form_err-msg mt-2">Minimo 8 caratteri</p>
      </div>
    </div>

    <!-- NEW PASS -->
    <div class="container_input mb-3">
      <app-form-item label="Nuova Password">
        <input
          type="password"
          class="form-control input"
          formControlName="newPassword"
        />
      </app-form-item>
      <div *ngIf="newPassword.invalid && newPassword.dirty">
        <p class="container_form_err-msg mt-2">Minimo 8 caratteri</p>
      </div>
    </div>

    <!-- CHECK PASS -->
    <div class="container_input mb-3">
      <app-form-item label="Conferma Password">
        <input
          type="password"
          class="form-control input"
          formControlName="checkPassword"
        />
      </app-form-item>
      <div *ngIf="checkPassword.invalid && checkPassword.dirty">
        <p class="container_form_err-msg mt-2">Le password non corrispondono</p>
      </div>
    </div>
  </div>

  <!-- BUTTON CONTAINER -->
  <div class="container_button mt-3">
    <!-- ABORT -->
    <div class="container_button_btn">
      <button type="button" class="btn button secondary" (click)="onClose()">
        Annulla
      </button>
    </div>

    <!-- CONFIRM -->
    <div class="container_button_btn">
      <button
        type="button"
        class="btn button primary"
        (click)="onConfirm()"
        [disabled]="!changePassForm.valid"
      >
        Conferma
      </button>
    </div>
  </div>
</div>
