<div class="container">
  <div class="container_close" (click)="onClose()">
    <button type="button" class="btn button close">X</button>
  </div>
  <p class="container_title mb-5 mt-3">Modifica la tua Password</p>

  <div class="container_form">
    <div class="container_form_input mb-3">
      <app-form-item label="Vecchia Password">
        <input
          type="text"
          class="form-control input"
          id="formGroupExampleInput"
        />
      </app-form-item>
    </div>
    <div class="container_input mb-3">
      <app-form-item label="Nuova Password">
        <input
          type="text"
          class="form-control input"
          id="formGroupExampleInput"
        />
      </app-form-item>
    </div>
    <div class="container_input">
      <app-form-item label="Conferma Password">
        <input
          type="text"
          class="form-control input"
          id="formGroupExampleInput"
        />
      </app-form-item>
    </div>
  </div>

  <div class="container_button mt-5">
    <div class="container_button_btn">
      <button type="button" class="btn button secondary" (click)="onClose()">
        Annulla
      </button>
    </div>
    <div class="container_button_btn">
      <button type="button" class="btn button primary" (click)="onConfirm()">
        Conferma
      </button>
    </div>
  </div>
</div>
